@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
body{
    height: 180vh;
}
.title{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
text-align: left;
color: #000000;
}
.subTitle{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
text-align: left;

color: #000000;
}
.subsubTitle{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 28px;
text-align: left;

color: #000000;
}
.contents{
    font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 23px;
text-align: left;
color: #000000;
}
.recrut-state{
    font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 28px;
text-align: left;
color: #000000;
}
.recrut{
    font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 28px;
text-align: left;
color: #000000;

}
.titleDiv{

}
#t1{


overflow: visible

}
#st1{ 
    overflow: visible
}
#ct1{
  
    text-align: left;
   
}
#st2{
   
    width: 40vw;
    height: 55vh;
    left: 8vw;
    top: 75vh;
    overflow: visible
}
#ct2{
    
    width: 20vw;
    height: 55vh;
    left: 8vw;
    top: 85vh;
    overflow: visible
}
#video{
    
    left: 8vw;
    top: 123vh;
    overflow: visible
}

#contactbtn{
    
    width: 30vw;
    align-items: center;
    background: #FFFFFF;
border: 1px solid #3D3D3D;
box-sizing: border-box;
border-radius: 30px;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 25rem;
line-height: 29px;
text-align: center;

color: #000000;

}
