@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    
  }
  
  body nav li {
    float: left;
  }
  
  body nav li a {
    margin-top: 9px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  body nav li a:hover {
   
  }

section{
    position: relative;
   
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #E5E5E5;
}

section::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #FFD94E;
}


section .container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
  
}

section .container .contactForm
{
    position: absolute;
    top: 60px;
    width: 50vw;
    height: calc(100% - 300px);
    z-index: 1;
    page-break-after: 40px;
    padding: 40px;
    justify-content: space-between;
    
    margin-left: 30px;

}

section .container .contactForm h2
{
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 1000;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
}

section .container .contactForm .formBox
{
    position: relative;
    text-align: center; 
  
    margin-top: -20px;
}

section .container .contactForm .formBox .inputBox
{
    position: relative;
    margin: 0 0 1px 0;
}


section .container .contactForm .formBox .inputBox .formInfo
{
    position: relative;
    margin: 30px;
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
    font-family: 'Raleway', serif;
    font-weight: 10000;
    opacity: 70%;
}

section .container .contactForm .formBox .inputBox input[type="text"],
section .container .contactForm .formBox .inputBox textarea
{
    position: relative;
  
    width: 70% !important;
 
    font-size: 15px;
    font-weight: 300;
    color: #333;
    border:none;
    border-bottom: 1px solid #777;
    outline: none;
    background: #FFD94E;
}

section .container .contactForm .formBox .inputBox input[type="text"]
{
    margin-top: -100px;
}

section .container .contactForm .formBox .inputBox textarea
{
    border: 1px solid #777;
    height: 12vh;
    top: -20px;
    resize: none;
 
}

section .container .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #FFD94E;
    color: #333;
    border: 1px solid #333;
    
    width: 255px;
    height: 63px;
    padding: 12px;
    font-size: 25px;

}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #333;
    color: #FFD94E;
}



section .container .purchaseForm 
{
    position: relative;

  
    width: 40vw;
    height: 20px;
    float:right;
    top: 43px;
    
}

section .container .purchaseForm h2
{
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 1000;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}

section .container .purchaseForm .formBox
{
    position: relative;
    text-align: center; 
  
    margin-top: -20px;
}

section .container .purchaseForm .formBox .inputBox
{
    position: relative;
    margin: 0 0 1px 0;
}

section .container .purchaseForm .formBox .inputBox input[type="text"]
{
    margin-top: -100px;
}


section .container .purchaseForm .formBox .inputBox .formInfo
{
    position: relative;
    margin: 30px;
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
    font-family: 'Raleway', serif;
    font-weight: 10000;
    opacity: 70%;
}

section .container .purchaseForm .formBox .inputBox .checkTable{
    position: relative;
    text-align: center;
    position: relative;
    margin: 30px;
    font-size: 15px;
    text-align: left;
    margin-left: 150px;
    font-family: 'Raleway', serif;
    font-weight: 10000;
    opacity: 70%; 
}


section .container .purchaseForm .formBox .inputBox .mOption{
    position: relative;
    margin: 30px;
    font-size: 15px;
    text-align: left;
    margin-right: 100px;
    font-family: 'Raleway', serif;
    font-weight: 10000;
    opacity: 70%;
}

section .container .purchaseForm .formBox .inputBox input[type="text"],
section .container .purchaseForm .formBox .inputBox textarea
{
    position: relative;
  
    width: 70% !important;
 
    font-size: 15px;
    font-weight: 300;
    color: #333;
    border:none;
    border-bottom: 1px solid #777;
    outline: none;
    background: #E5E5E5;
}

section .container .purchaseForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #E5E5E5;
    color: #333;
    border: 1px solid #333;
    top: 12.5vh;
    width: 255px;
    height: 63px;
    padding: 12px;
    font-size: 25px;

}

section .container .purchaseForm .formBox .inputBox input[type="submit"]:hover{
    background: #333;
    color: #E5E5E5;
}

