@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.grid-container{
  height: 100vh;
}


tr{
  font-size: 2rem;
  margin-right: 2vw;
  border-spacing:50em;
  border-collapse:separate; 
}
th{
  border-spacing:50em;
  border-collapse:separate; 
}

table{
  border-collapse: separate;
  border-spacing: 2em;
  width: 70vw;
  margin-left: 20vw;
}

.center{
  margin-right: 0vw;
}

.myInfo{
  font-family: "Playfair Display", serif;
}

.nameField{
  font-family: "Playfair Display", serif;
}

.emailField{
  font-family: "Playfair Display", serif;
}

.nameValue{
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.emailValue{
  font-weight: bold;
  font-family: "Playfair Display", serif;
}