@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

.grid-container{
  height: 100vh;
}


tr{
  font-size: 2rem;
  border-spacing:50em;
  border-collapse:separate; 
}
th{
  border-spacing:50em;
  border-collapse:separate; 
}

table{
  border-collapse: separate;
  border-spacing: 10em;
}

.myInfo{
  font-family: "Playfair Display", serif;
}