.grid-container{
    display: grid;
    grid-template-rows: 1;
    background-color: #FFD94E;
}

.navbar-block{
    height: 20vh;
    width: 100vw;
    background-color: #343a40!important;
}

.textSec{
    grid-column-start: 1;
    grid-column-end: 1;
    width: 30vw;
    padding: 2vw;
    height: 100%;
}

.imgSec{
    grid-column-start: 2;
    grid-column-end: 2;
    height: 100%;
}

.navBar{
    height: 25vh;
    margin-top: 1vw;
}

p{
    width: 100%;
    text-align: center;
}

a{
    padding: 1vw;
}

