{% extends 'magazines/main.html'%}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/aboutUs.css">
<div class = 'row' style="position: relative;">
    <div class = 'col-7' style = background-color:#FFD94E>
        <div id = t1>
            <p class = 'title'>  OUR STORY</p>
        </div>
        <div id = "st1">
            <p class = 'subTitle'> Who we are</p>
        </div>
        <div id = 'ct1'>
            <p class = 'contents'>
            IVY Magazine Club was founded in Fall 2018 by two FIT 
            students at SUNY Korea. The club brings together a diverse group 
            of members across IGC to create dynamic editorials, interview students and 
            professionals in the fashion industry, and capture campus life events. 
            </p>
            <p class = 'contents'>
            Our goal is to put out high-quality, interesting, and fun content while giving 
            our members an opportunity to explore their creative interests in fashion, photography, 
            journalism, layout design, beauty, social media, and more!     
            </p>
        </div>
        <div id = 'st2'>
            <p class = 'subTitle'>What We Do</p>
        </div>
        <div id = 'ct2'>
            <p class = 'contents'>
                In addition to a full-length magazine with 
                Editorial Photoshoots, Special Articles, and Interviews, 
                IVY is active on SNS, posting on a blog and Instagram. 
            </p>
            <p class = 'contents'>   
                Since 2018, we have done various projects, including 
                collaborations with up-and-coming Korean fashion designers, 
                Q&As with alumni in the industry, and features covering various 
                topics such as Seoul Fashion Week streetstyle. 
            </p>
            <p class = 'contents'>    
                All of IVY’s content is directed and produced entirely 
                by students, under the guidance of our faculty advisors. 
            
            </p>
        </div>
        <div id = 'video' class="video-container" style="text-align: center; margin-top: 2vh;">
            <object type="text/html" width="300%" height="500vh" data="//www.youtube.com/embed/XAW7MsAtjq8">
        </object>
    </div>
    </div>
    <div class = 'col-5' style = background-color:white> 
        <div id = 'r1'>   
            <p class = 'subTitle'>Recruitment</p>
            <p class = 'recrut-state'>
                Interested in joining us?
            </p> 
            <p class = 'recrut-state'>
                Various positions are available to all students from IGC!
            </p>
            <br>
            <p class = 'subsubTitle'>Writing Team</p>
            <p class = 'recrut'>
            Journalists 
            </p>
            <p class = 'recrut'>
            Interviewers   
            </p>
            <br>
            <p class = 'subsubTitle'>Styling Team</p>
            <p class = 'recrut'>
            Stylists
            </p>
            <p class = 'recrut'> 
            esigners
            </p> 
            <p class = 'recrut'>
            Hair and Makeup Artists
            </p>
            <br>
            <p class = 'subsubTitle'>Layout Team</p>
            <p class = 'recrut'>
            Layout Designers
            </p>
            <br>
            <p class = 'subsubTitle'>Photography Team</p>
            <p class = 'recrut'>
            Editorial Photographers
            </p> 
            <p class = 'recrut'>
            Portrait Photographers
            </p> 
            <p class = 'recrut'>
            Article Photographers 
            </p>
            <br>
            <p class = 'subsubTitle'>Modeling Team</p>
            <p class = 'recrut'> 
            Editorial Models 
            Influencer Models
            </p>
            <button id = 'contactbtn' type="button" class="btn btn-secondary btn-lg">Contact Us</button> 
        </div>
    </div>
    
</div>
    <div class = "aboutPic" style="position: absolute;width: 75vw;
        height: 65vh;
        left: 24vw;
        top: 20vh;">
        <img style = 'height: 100%; width: 100%; object-fit: contain;' src="../static/images/aboutPic.png" alt=""> 
    </div>
    
   

{% endblock %}