{% extends 'magazines/main.html'%}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/blog.css">
<div class= 'titleBar'><a class = 'blogTitle'>Blog</a> <a id = 'blogLink'href = 'https://medium.com/@ivisualizeyou'>Click to go to Medium blog</a></div>
<div class = 'mainBody'>
    <div class = 'mainBody'id="retainable-rss-embed" 
data-rss="https://medium.com/feed/@ivisualizeyou"
data-maxcols="3" 
data-layout="slider" 
data-poststyle="inline" 
data-readmore="Read the rest" 
data-buttonclass="btn btn-primary" 
data-offset="-100"
style = "background-color: black;"></div>
</div>
{% endblock %}