
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/contactUs.css' %}">
    <title>IVY magazine</title>
    
</head>


<body>
    <section>
        <div class="container">
            <div class="contactForm">
                <h2>Contact Us</h2>
                <form class="formBox">
                    <div class="inputBox">
                        <div class="formInfo">Your Name:</div><br>
                        <input type="text" name="" required>
                        
                    </div>
                    <div class="inputBox">
                        <div class="formInfo">Your Email:</div><br>
                        <input type="text" name="" required>
                        
                    </div>
                    <div class="inputBox">
                        <div class="formInfo">Subject:</div><br>
                        <input type="text" name="" required>
                        
                    </div>
                    <div class="inputBox">
                        <div class="formInfo"> Message:</div><br>
                        <textarea name=""  required></textarea>
                        
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send a message">
                    </div>
                </form>
            </div>
            <div class="purchaseForm">
                <h2>Purchase Magazine</h2>
                <form class="formBox">
                    <div class="inputBox">
                        <div class="formInfo">Your Name:</div>
                        <input type="text" name="" required>
                     
                    </div>
                    <div class="inputBox">
                        <div class="formInfo">Your Email:</div>
                        <input type="text" name="" required>
                
                    </div>
                    <div class="inputBox w50">
                        <div class="formInfo">Select Magazine:</div><br>
                        <table class="checkTable">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="mName">
                                            <span class="mOption">Spring 2019</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkboxControler">
                                            <input type="checkbox" name="s2019"><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mName">
                                            <span class="mOption">Fall 2019</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkboxControler">
                                            <input type="checkbox" name="f2019"><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mName">
                                            <span class="mOption">Spring 2020</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkboxControler">
                                            <input type="checkbox" name="s2020"><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mName">
                                            <span class="mOption">Fall 2020</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkboxControler">
                                            <input type="checkbox" name="f2020">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        
                        
                        
                        
                   
                       
                        
                       
                        
                    </div>

                    <div class="inputBox w100">
                        <input type="submit" value="Request subscription">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>

