{% extends 'magazines/main.html'%}

{% block content %}
<div class = 'row'>
    <div class = 'col-7' style = background-color:#FFD94E>
        <h1>  Our Stroty</h1>
        <h3>    Who we are</h3>
        <pre>
IVY Magazine Club was founded in Fall 2018 
by two FIT students at SUNY Korea. 
The club brings together a diverse group of members 
across IGC to create dynamic editorials, interview 
students and professionals in the fashion industry, 
and capture campus life events. 
       
Our goal is to put out high-quality, interesting, 
and fun content while giving our members 
an opportunity to explore their creative interests 
in fashion, photography, journalism, layout design, 
beauty, social media, and more!  
            
            </pre>
    </div>
    <div class = 'col-5' style = background-color:white>
        
            
    </div>
</div>
<div class = 'row'>
    <div class = 'col-7' style = background-color:#FFD94E>
        <h2>What We Do</h2>
        <pre>
In addition to a full-length magazine with 
Editorial Photoshoots, Special Articles, and Interviews, 
IVY is active on SNS, posting on a blog and Instagram. 

Since 2018, we have done various projects, including 
collaborations with up-and-coming Korean fashion designers, 
Q&As with alumni in the industry, and features covering various 
topics such as Seoul Fashion Week streetstyle. 
            
All of IVY’s content is directed and produced entirely 
by students, under the guidance of our faculty advisors. 
            
        </pre>
        <div class="video-container" style="text-align: center; margin-top: 25px;">
            <object type="text/html" width="100%" height="500" data="//www.youtube.com/embed/XAW7MsAtjq8">
        </object>
    </div>
    </div>
    <div class = 'col-5' style = background-color:white>
        <h2>Recruitment</h2>
        <pre>
Interested in joining us? 
Various positions are available to all students from IGC!
        </pre>
<br>
<h2>Writing Team</h2>
<pre>
Journalists 
Interviewers   
</pre>
<br>
<h2>Styling Team</h2>
<pre>
Stylists 
Designers 
Hair and Makeup Artists
</pre>
<br>
<h2>Layout Team</h2>
<pre>
Layout Designers
</pre>
<br>
<h2>Photography Team</h2>
<pre>
Editorial Photographers 
Portrait Photographers 
Article Photographers 
</pre>
<br>
<h2>Modeling Team</h2>
<pre>
Editorial Models 
Influencer Models
</pre>
<button type="button" class="btn btn-secondary btn-lg">Contact Us</button> 
    </div>
</div>
{% endblock %}