{% extends 'magazines/main.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/dummy.css' %}">

<div class="container-fluid">
    <div class="row">
        {% for p in photos %}
        <div class="column">
        {% if forloop.counter0|divisibleby:2 %}
            <img src="{{p.imgaes.url}}">
        {% endif %}
        </div>
        <div class="column">
            {% if not forloop.counter0|divisibleby:2 %}
            <img src="{{p.imgaes.url}}">

            {% endif %}
        </div>

        {% endfor %}
      
    </div>
  </div>
{% endblock %}