{% extends 'magazines/main.html'%}
{% load static %}
{% block content %}
<div class="grid-container" style = "background-color:#FFD94E;">
  <link rel="stylesheet" type="text/css" href="{% static '/css/info.css' %}">
  <div>
    <div class="myInfo" style="text-align: left; margin-left: 4rem; margin-top: 2rem; font-size: 5rem;">
      MYINFO
    </div>
    <hr style="visibility: hidden;">
    <table class="center" style="border: none; margin-left: auto; margin-right: auto; text-align: center;">
      <tr>
        <th>
          USER NAME
        </th>
        <th style="text-align: left;">
          Alex
        </th>
      </tr>
      <tr>
        <th>
          USER EMAIL
        </th>
        <th style="text-align: left;">
          alex@sunykorea.ac.kr
        </th>
      </tr>
    </table>
  </div>
</div>
{%endblock%}