{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">

<nav>
    <div>
    <ul >
        <li><img src = '../static/images/ivyLogo.jpg'/></li>
            <li><a class="nav-link" href="{% url 'home' %}">HOME</a></li>
            <li><a class="nav-link" href="{% url 'blog' %}">BLOG</a></li>
            <li><a class="nav-link" href="{% url 'portfolio' %}">PORTFOLIO</a></li>
            <li><a class="nav-link" href="{% url 'magazine' %}">MAGAZINE</a></li>
            <li><a class="nav-link" href="{% url 'aboutUs' %}">ABOUT US</a></li>
            <li><a class="nav-link" href="{% url 'contactUs' %}">CONTACT US</a></li>
            <li id="sign_in"><a  class="nav-link" href="{% url 'login' %}">SIGN IN</a></li>
      </ul>
    </div>
      <span class = "hello-msg">Hello, {{request.user}}</span>
      <span><a class = "hello-msg" href= "{% url 'logout' %}">Logout</a></span>
      <span><a class = "hello-msg" href= "{% url 'info' %}">MYInfo</a></span>

  
</nav>