
{% extends 'magazines/main.html'%}
{% load static %}
{% block content %}

<main id = "main" role = "main">
    <link rel="stylesheet" type="text/css" href="{% static '/css/portfolio.css' %}">
        <div class = 'row' style="height: 85.5vh;">
            <div class = 'col-7' style = "background-color:#FFD94E; overflow: scroll;">
                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>

                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>

                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>

                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>

                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>

                <div class="gallery">
                    <a href="">
                        <img src="{% static '/images/IVY.png' %}">
                        <div class = "description">
                            This is the description for the portfolio
                        </div>
                    </a>
                </div>
                
                
            </div>
            <div class = 'col-5' style = background-color:white>
                <div class = "portfoliosection">
                    <div>
                        <h1 class="heading">
                            PORTFOLIO
                        </h1>
                        <p class="mDescription">
                            View previous works by IVY Magazine<br />
                            Club, including photoshoots that have<br />
                            not been published in our magazines<br />
                            before. IVY has shot a broad range of<br />
                            concepts and styles through<br />
                            collaborations with Korean designers<br />
                            and other clubs on campus.
                          </p>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}