{% extends 'magazines/main.html'%}
{% load static %}
{% block content %}

<main id = "main" role = "main">
    <link rel="stylesheet" type="text/css" href="{% static '/css/portfolio.css' %}">
        <div class = 'grid-container' style="height: 85.5vh;">
            <div class = 'col-7'>
                <div class = "gallery-container">
                    {% if posts %}

                        {% for post in posts %}
                        <div class="gallery">
                            <a href="{% url 'detail' post.id %}">
                                <img src="{{post.image.url}}">
                                <div class = "description">
                                    {{post.title}}
                                </div>
                            </a>
                        </div>
                        
                        {% endfor %}

                    {% else %}

                    <div class="gallery">
                        Portfolio section is currently empty
                        <!-- <a href="">
                            <img src="{% static '/images/IVY.png' %}">
                            <div class = "description">
                                This is the description for the portfolio
                            </div>
                        </a> -->
                    </div>
                    {% endif %}
                    
                </div> 
            </div>
            <div class = 'col-5'>
                <div class = "portfoliosection">
                    <div class="portfolio-content">
                        <h1 class="heading">
                            PORTFOLIO
                        </h1>
                        <p class="mDescription">
                            View previous works by IVY Magazine<br />
                            Club, including photoshoots that have<br />
                            not been published in our magazines<br />
                            before. IVY has shot a broad range of<br />
                            concepts and styles through<br />
                            collaborations with Korean designers<br />
                            and other clubs on campus.
                          </p>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}
