{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/signInUp.css' %}">
    </head>
    <body>
        <div class="grid-container">
            <button class="closeWindow"><img src="../static/images/closeWindow.jpg"/></button>
            <div class="signInUpToggle">
                <a href="../signIn/" style="font-size: 2rem; color:white; font-family:Raleway; text-decoration: none;">SIGN IN</a>
                <a href="../signUp/" style="font-size: 2rem; color:black; opacity: 0.5; font-family:Raleway; text-decoration: none; margin-left: 0.5vw;">SIGN UP</a>
            </div>
            <div class="emailInput" style="margin-left: 5vw;">
                <p style="font-size: 0.75rem; margin-bottom: 0%; color: white;">EMAIL</p>
                <input type="text" name="email" style="width: 28vw; height: 4vh; border-radius: 12px; border-color: white;"><br>
            </div>
            <div class="passwordInput" style="margin-left: 5vw;">
                <p style="font-size: 0.75rem; margin-bottom: 0%; color: white;">PASSWORD</p>
                <input type="text" name="userPW" style="width: 28vw; height: 4vh; border-radius: 12px; border-color: white;"><br>
            </div>
            <input type="checkbox" name="keepLoggedIn" style="margin-top: 2vh; margin-left: 5vw;" />
            <label for="keepLoggedIn">Keep me logged in</label><br>

            <button class="signInButton" style="margin-left: 5vw; margin-top: 8vh;">SIGN IN</button>
            <hr style="width: 28vw; margin-left: 5vw; margin-top: 4vh;">
        </div>
    </body>
    
</html>